.line li{
    display: inline-block;
    background: pink;
    padding: 10px;
    margin: 2px;
}
.links a{
    border: 1px solid rgb(14, 38, 119);
    width: 200px;
    padding: 5px;
    margin-bottom: 2px;
    color: rgb(244, 244, 247);
    background-color: rgb(14, 38, 119);
    display: block;
    
}
.blocks div{
    display: inline;
    background: rgb(189, 8, 39);
    padding: 10px;
    margin: 10px;
}
.blocks{
    margin: 20px;
}
.blocks .non {
    display: none;
}
.links-markers a{
    display: list-item;
    border: 1px solid rgb(39, 40, 41);
    width: 200px;
    padding: 5px;
    color: rgb(244, 244, 247);
    background-color: rgb(39, 40, 41);
}
.post1::before{
   border: 2px dashed rgb(247, 246, 246);
   content: url(../../../img/weather-sun.jpg);
   margin-right: 10px;
   float: left;
}
.post2::before{
    border: 2px dashed rgb(236, 234, 234);
    content: url(../../../img/weather-sun.jpg);
    margin: 10px;
    float: right;
}
.post1{
    background: #930303;
    color: aliceblue;
    overflow: hidden;
    margin: 5px;
}
.post2{
    background: #930303;
    color: aliceblue;
    overflow: hidden;
    margin: 5px;
}



