.rating{
    display: flex;
    font-size: 0;
    justify-content: center;
    
}
.rating span{
    padding: 0;
    line-height: 2;
}
.rating > span:before{
    content: '★';
}
.rating > span.active3{ 
    color: rgb(76, 111, 187);
    font-size: 45px;

}
.rating > span.active2{ 
    color: rgb(102, 128, 185);
    font-size: 40px;

}
.rating > span.active1{ 
    color: rgb(136, 155, 197);
    font-size: 35px;

}
.p1{
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.line li{
    display: inline-block;
    background: pink;
    padding: 10px;
    margin: 2px;
}
.cor p{
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.mb{
    background: rgb(77, 76, 76);
    color: rgb(250, 246, 246);
    padding: 6px;
    border-radius: 3px;
    margin: 6px;
    font-size: 20px;
}
.cc{
    border: 1px solid rgb(48, 47, 47);
    background: white;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section article{
    width: 320px;
    margin: 5px;
}
section article .img{
    
    width: 310px;
    height: 300px;
    background: url(../../../img/domov.jpg);
    background-size: cover; 

}
section article p{
 width: 310px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

.ev{
    margin-left: 100px;
    font-size: 25px;
}
.pd{
    background: rgb(201, 201, 197);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px rgb(63, 63, 63);
    margin: 5px;
    text-align: center;
   
}
.dp{
    background: rgb(201, 198, 28);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
   
}
.esh{
    text-align: center;
    margin-left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}







